/* Stili personalizzati per la scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111c36;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

/* Per Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1e3a8a #111c36;
}
